html,body{
    display: flex;
    justify-content: center;
    background-image: url(images/space.jpg);
}

canvas{
    border: 1px solid blue;
}
#container{
    background-color: blue;
}
header{
    display: flex;
    justify-content: center;
    font-family: Unbounded;
}
footer{
    display: flex;
    justify-content: center;
}